/*********************************************
<------- SEARCH TICKET SECTION STYLES ------->
*********************************************/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.home-listStyle {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: #313541;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 18px;
}

.home-listStyle::after {
    content: " ";
    position: absolute;
    bottom: -15%;
    left: 0%;
    margin-top: 1rem;
    transition: all .5s ease;
    width: 0%;
    height: 2px;
    background-color: #1ab79d;
    color: gray;
}

.home-activeStyle {
    color: #1ab79d;
}

.home-activeStyle::after {
    content: " ";
    position: absolute;
    bottom: -15%;
    left: 0%;
    transition: all .5s ease;
    width: 100%;
    height: 2px;
    background-color: #1ab79d;
}

.home-searchTicket p {
    color: #808080c5;
    font-family: 'Source Code Pro', monospace;
}

.home-searchTicket-responsive {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.home-searchTicket select {
    font-size: 17px;
    cursor: pointer;
    outline: none;
    width: 160px;
    font-family: 'Source Code Pro', monospace;
}

.home-searchTicket .input-date {
    font-family: 'Source Code Pro', monospace;
}

.home-ticket-hr {
    margin-top: 25px;
    width: 60px;
    height: 1px;
    rotate: 90deg;
    background-color: #808080c5;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(../../assets/home/why1_hover.png);
    color: #333;
    font-size: 23px;
    cursor: pointer;
}
select[type="option"]::-webkit-select-picker-indicator {
    background-image: url(../../assets/home/why1_hover.png);
    color: #333;
    font-size: 23px;
    cursor: pointer;
}

.hotel-date input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(../../assets/home/hotels_hover.png);
    color: #333;
    font-size: 23px;
    cursor: pointer;
}








/****************************************************
<------- POPULAR PLACE SLIDER RELATED STYLES ------->
****************************************************/
.popular-place {
    width: 100%;
    height: 100%;
}

.popular-place .swiper-slide {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.popular-place img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.popular-place-card {
    box-shadow: 0 6px #1ab79d;
    background-color: #ebf2f5f5;
}

.popular-place-card:hover img {
    scale: 120%;
    overflow: hidden;
    transition: ease 0.5s;
}

.popular-place-card .divided-line {
    margin-top: 20px;
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #1ab79d, rgb(133, 248, 133), green);
}








/*******************************************
<------- WHY WE BEST RELATED STYLES ------->
********************************************/
.bg-img {
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.why-best-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.why-best-one .bg-img {
    background-image: url('../../assets/home/why1.png');
}

.why-best-one:hover .bg-img {
    background-image: url('../../assets/home/why1_hover.png');
}

.why-best-two .bg-img {
    background-image: url('../../assets/home/why2.png');
}

.why-best-two:hover .bg-img {
    background-image: url('../../assets/home/why2_hover.png');
}

.why-best-three .bg-img {
    background-image: url('../../assets/home/why3.png');
}

.why-best-three:hover .bg-img {
    background-image: url('../../assets/home/why3_hover.png');
}

.why-best-four .bg-img {
    background-image: url('../../assets/home/why4.png');
}

.why-best-four:hover .bg-img {
    background-image: url('../../assets/home/why4_hover.png');
}










/***********************************************
<------- HAPPY CUSTOMERS RELATED STYLES ------->
************************************************/
.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    color: #ee4962;
    text-transform: uppercase;
    margin: 30px 0 5px 0;
}

.skill-bar {
    height: 10px;
    background: #282828;
    border-radius: 3px;
}

.skill-percentage {
    height: 10px;
    background: #1ab79d;
    border-radius: 3px;
    position: relative;
}

.animate .skill-percentage {
    animation: fillBars 2.5s 1;
}

.skill-percentage::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #1ab79d;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-percentage::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #1ab79d;
    top: -15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.happy-client-bg {
    background-image: url(../../assets/home/world-map.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #393c46;
    background-blend-mode: multiply;
}







/* FOR MOBILE DEVICE */
@media screen and (max-width:540px) {

    /* ticket section */
    .home-searchTicket select {
        width: 100%;
        padding: 0% 15px;
    }

    .home-searchTicket input {
        width: 100%;
        padding: 0% 15px;
    }

    .home-searchTicket p {
        width: 100%;
        padding: 0% 20px;
    }

    .home-searchTicket {
        width: 100%;
        margin: 10px 0;
    }

    .home-ticket-hr {
        display: none;
    }

    .home-searchTicket-responsive {
        grid-template-columns: 1fr;
    }




    /* why we best */
    .why-best-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
}


/* FOR TABLET */
@media screen and (min-width: 541px) and (max-width:1000px) {

    /* ticket section */
    .home-searchTicket-responsive {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 50px;
    }

    .home-ticket-hr {
        display: none;
    }

    .home-searchTicket {
        width: 100%;
        margin: 10px 0;
    }




    /* why we best */
    .why-best-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}