.ticket-cards img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.ticket-cards {
    background-color: #ebf2f5f5;
}
.ticket-cards:hover {
    box-shadow: 0 6px #1ab79d;
    transition: 0.5s;
}

.ticket-cards:hover img {
    scale: 120%;
    overflow: hidden;
    transition: 0.7s;
}

.ticket-cards .divided-line {
    margin-top: 20px;
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #1ab79d, rgb(133, 248, 133), green);
}