.bg-gradient {
    background: -webkit-linear-gradient(45deg, #1ab79d, #13e27a);
}

.input-field {
    background: #ffffff;
    border-radius: 10px;
}

.footer-padding {
    padding: 150px 0 60px 0;
}

@media screen and (max-width: 475px) {
    .footer-padding {
        padding: 200px 0 60px 0;
    }
}

@media screen and (max-width: 300px) {
    .footer-padding {
        padding: 250px 0 60px 0;
    }
}