/* div{
    text-align:center;
    padding:3%;
    border:thin solid black;
  } */
  
  input[type="file"]{
    display: none;
  }

  label{
    cursor:pointer;
  }
  
  #imageName{
    color:green;
  }