@tailwind base;
@tailwind components;
@tailwind utilities;

.text-pink {
    color: #ee4962;
}

.text-gray {
    color: #808080c5;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #1ab79d;
}






/*********************************************
<------- COMMON BUTTON FOR ENTIRE PAGE ------>
*********************************************/
.allBtn {
    color: white;
    font-weight: 400;
    overflow: hidden;
    display: flex;
    padding: 8px 20px;
    align-items: center;
    column-gap: 5px;
    position: relative;
    background-color: #1ab79d;
    z-index: 1;
    border-radius: 5px;
}

.allBtn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-image: linear-gradient(90deg, #1ab79d 0%, #31b978 100%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}

.allBtn:hover:before {
    width: 100%;
}


.activeNav {
    background-image: linear-gradient(90deg, #1ab79d 0%, #31b978 100%);
    color: azure;
    font-weight: 600;
    padding: 3px 15px;
    border-radius: 3px;
}

.deActiveNav {
    font-weight: 600;
    padding: 3px 15px;
}